* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #1f2933;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.form-box {
  background: white;
  padding: 2rem;
  border-radius: 2rem;
  width: 360px;
}

.logo img {
  width: 50px;
}

.logo h1 {
  color: #3b82f6;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.logo p {
  font-size: 0.9rem;
}

h2 {
  margin: 1.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-top: 1rem;
  font-weight: bold;
}

input {
  background: #9ca3af;
  border: none;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.save-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 0.75rem;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
